{% verbatim %}
<div class="form-group" ng-controller="PromotionsController as ctrl">
    <span>{{ctrl.count({status:'online'})}} of {{ctrl.count()}}</span>

    <ul class="list-unstyled">
        <li ng-repeat="user in ctrl.findAll()">
            <input type="checkbox" ng-model="user.status">
            <span class="status-{{user.status}}">{{user.name}}</span>
        </li>
    </ul>

    <form class="form-inline" ng-submit="ctrl.add()">
        <input class="form-control" type="text" ng-model="ctrl.name" placeholder="Add new item...">
        <input class="btn btn-primary" type="submit"  value="Add">
    </form>
</div>
{% endverbatim %}